## Functions for automated scripting of our EZMate liquid dispenser

In [1]:
%load_ext autoreload
%autoreload
%matplotlib inline
from scipy import io
import pandas as pd
import numpy as np
import sys 
import matplotlib.pyplot as plt
import scipy
import scipy.stats
import glob
from sklearn import metrics
import seaborn as sns
import getpass
import os
import matplotlib
import re       # regular expressions
from itertools import chain

In [2]:
# 1. select where you are running script:
# needs to be updated using switch?
mac_flag = 0   # 0 for PC users, 1 for MAC users (Tomer)
linux_flag = 1
home_flag = 0
user_name = getpass.getuser() 

# 2. select project name
project_name = 'COVID-19'

# set default values for label sizes for figures:
sns.set_context("paper", rc={'font.size':16, 'axes.titlesize':18, 'axes.labelsize':16, 'xtick.labelsize': 16, 
                                 'ytick.labelsize': 16 })

In [3]:
if mac_flag:
    MAIN_PATH = '/Users/'
    ROOT_PATH = os.path.join(MAIN_PATH, user_name, 'Dropbox', 'HertzLab')
    sys.path.append('/Users/thertz/Dropbox/HertzLab/Code/Python/Utils/')
elif linux_flag:
    MAIN_PATH = '/home/'
    ROOT_PATH = os.path.join(MAIN_PATH, user_name, 'Dropbox', 'HertzLab')
elif home_flag:
    sys.path.append("C:\\Users\\udish\\Python\\")
    sys.path.append("C:\\Users\\udish\\Desktop\\Ayelet_DB\\Dropbox\\Utils\\")
    ROOT_PATH = os.path.join('C:\\Users\\udish\\Desktop\\Ayelet_DB\\Dropbox')
else:
    ROOT_PATH = os.path.join('//132.72.92.166', 'HertzLab', 'HertzLab') 
    sys.path.append("\\\\132.72.92.166\\HertzLab\\HertzLab\\Code\\Python\\")
    sys.path.append("\\\\132.72.92.166\\HertzLab\\HertzLab\\Code\\Python\\Utils\\")
    # e.g. C:\Users\friedmal\Dropbox\HertzLab\ArrayData\Influenza\obesity\

if home_flag:
    SAVE_PATH = os.path.join('C:\\Users\\udish\\Desktop\\Ayelet_DB\\Dropbox\\', project_name, isotype_name[0] + '_peptide_19')
    FIG_PATH = os.path.join(ROOT_PATH, project_name, 'PaperFigs', '/')
    #SAVE_PATH = os.path.join('C:\\Users\\udish\\', project_name, isotype_name[0] + '_peptide_19')
else:
    SAVE_PATH = os.path.join(ROOT_PATH, 'Code', 'Python', project_name,)     

FIG_PATH = os.path.join(ROOT_PATH, project_name, 'Figs/')
DOC_PATH  = os.path.join(ROOT_PATH, project_name, 'docs')

### load lab specific pacakges (can only be done after paths are set)

In [4]:
import amplotlib as amp
import ezmate_utils as ezutils

In [5]:
# test MD command:
md_cmd = ezutils.generate_MD_command(source_plate='A', destination_plates=['B', 'B'], source_well=('A', 1), 
                            destination_wells= [('B', 1), ('C', 1)], source_volume=1000, transfer_volume=10, 
                            aspirate_speed=(2, 5), dispense_speed=(3, 5), air_gap=5, tip=(1, 1, 0), mix=(2, 3, 70, 4),
                            reverse=5)
print(md_cmd)

MD,10
AspirateSpeed,2,5
DispenseSpeed,3,5
AIRGAP,5
TIP,1,1,0
MIX,2,3,70,4
REVERSE,5
Source,A,A-1,Source,Source,1000
Destination,B,B-1,Destination,Destination
Destination,B,C-1,Destination,Destination
MD

In [6]:
# test LT command:
lt_cmd = ezutils.generate_LT_command(source_plate='A', destination_plate='B', source_well=('A', 1), 
                            destination_well=('B', 1), source_volume=1000, transfer_volume=10, 
                            aspirate_speed=(2, 5), dispense_speed=(3, 5), air_gap=5, tip=(1, 1, 0), mix=(2, 3, 70, 4),
                            reverse=5)
print(lt_cmd)

LT,10
AspirateSpeed,2,5
DispenseSpeed,3,5
AIRGAP,5
TIP,1,1,0
MIX,2,3,70,4
REVERSE,5
Source,A,A-1,Source,Source,1000
Destination,B,B-1,Destination,Destination
LT

In [7]:
# generate sample MD file:
md_cmds = 'APM, 1\n'
for i in np.arange(1, 10):
    md_cmds += ezutils.generate_MD_command(source_plate='A', destination_plates=['B']*6, source_well=('A', i), 
                            destination_wells= [('A', 1), ('A', 2), ('B', 1), ('B', 2), ('C', 1), ('C', 2)], \
                            source_volume=1000, transfer_volume=10, 
                            aspirate_speed=(2, 5), dispense_speed=(3, 5), air_gap=5, tip=(1, 1, 0), mix=(2, 3, 70, 4),
                            reverse=5)
print(md_cmds)
fd = open('MD_test.csv', 'w')
fd.write(md_cmds)
fd.close()

APM, 1
MD,10
AspirateSpeed,2,5
DispenseSpeed,3,5
AIRGAP,5
TIP,1,1,0
MIX,2,3,70,4
REVERSE,5
Source,A,A-1,Source,Source,1000
Destination,B,A-1,Destination,Destination
Destination,B,A-2,Destination,Destination
Destination,B,B-1,Destination,Destination
Destination,B,B-2,Destination,Destination
Destination,B,C-1,Destination,Destination
Destination,B,C-2,Destination,Destination
MD
MD,10
AspirateSpeed,2,5
DispenseSpeed,3,5
AIRGAP,5
TIP,1,1,0
MIX,2,3,70,4
REVERSE,5
Source,A,A-2,Source,Source,1000
Destination,B,A-1,Destination,Destination
Destination,B,A-2,Destination,Destination
Destination,B,B-1,Destination,Destination
Destination,B,B-2,Destination,Destination
Destination,B,C-1,Destination,Destination
Destination,B,C-2,Destination,Destination
MD
MD,10
AspirateSpeed,2,5
DispenseSpeed,3,5
AIRGAP,5
TIP,1,1,0
MIX,2,3,70,4
REVERSE,5
Source,A,A-3,Source,Source,1000
Destination,B,A-1,Destination,Destination
Destination,B,A-2,Destination,Destination
Destination,B,B-1,Destination,Destination
Destination,B,B-2,Destination,Destination
Destination,B,C-1,Destination,Destination
Destination,B,C-2,Destination,Destination
MD
MD,10
AspirateSpeed,2,5
DispenseSpeed,3,5
AIRGAP,5
TIP,1,1,0
MIX,2,3,70,4
REVERSE,5
Source,A,A-4,Source,Source,1000
Destination,B,A-1,Destination,Destination
Destination,B,A-2,Destination,Destination
Destination,B,B-1,Destination,Destination
Destination,B,B-2,Destination,Destination
Destination,B,C-1,Destination,Destination
Destination,B,C-2,Destination,Destination
MD
MD,10
AspirateSpeed,2,5
DispenseSpeed,3,5
AIRGAP,5
TIP,1,1,0
MIX,2,3,70,4
REVERSE,5
Source,A,A-5,Source,Source,1000
Destination,B,A-1,Destination,Destination
Destination,B,A-2,Destination,Destination
Destination,B,B-1,Destination,Destination
Destination,B,B-2,Destination,Destination
Destination,B,C-1,Destination,Destination
Destination,B,C-2,Destination,Destination
MD
MD,10
AspirateSpeed,2,5
DispenseSpeed,3,5
AIRGAP,5
TIP,1,1,0
MIX,2,3,70,4
REVERSE,5
Source,A,A-6,Source,Source,1000
Destination,B,A-1,Destination,Destination
Destination,B,A-2,Destination,Destination
Destination,B,B-1,Destination,Destination
Destination,B,B-2,Destination,Destination
Destination,B,C-1,Destination,Destination
Destination,B,C-2,Destination,Destination
MD
MD,10
AspirateSpeed,2,5
DispenseSpeed,3,5
AIRGAP,5
TIP,1,1,0
MIX,2,3,70,4
REVERSE,5
Source,A,A-7,Source,Source,1000
Destination,B,A-1,Destination,Destination
Destination,B,A-2,Destination,Destination
Destination,B,B-1,Destination,Destination
Destination,B,B-2,Destination,Destination
Destination,B,C-1,Destination,Destination
Destination,B,C-2,Destination,Destination
MD
MD,10
AspirateSpeed,2,5
DispenseSpeed,3,5
AIRGAP,5
TIP,1,1,0
MIX,2,3,70,4
REVERSE,5
Source,A,A-8,Source,Source,1000
Destination,B,A-1,Destination,Destination
Destination,B,A-2,Destination,Destination
Destination,B,B-1,Destination,Destination
Destination,B,B-2,Destination,Destination
Destination,B,C-1,Destination,Destination
Destination,B,C-2,Destination,Destination
MD
MD,10
AspirateSpeed,2,5
DispenseSpeed,3,5
AIRGAP,5
TIP,1,1,0
MIX,2,3,70,4
REVERSE,5
Source,A,A-9,Source,Source,1000
Destination,B,A-1,Destination,Destination
Destination,B,A-2,Destination,Destination
Destination,B,B-1,Destination,Destination
Destination,B,B-2,Destination,Destination
Destination,B,C-1,Destination,Destination
Destination,B,C-2,Destination,Destination
MD

## Read pooling file (Shental format):

In [8]:
pooling_filename = 'pooling384_48_by_sample.txt'
pool_df = pd.read_csv(os.path.join(SAVE_PATH, pooling_filename), delimiter='\t', header=None)
pool_df.rename(columns={0: 'sample', 1: 'pool-1', 2: 'pool-2', 3: 'pool-3', 4: 'pool-4', 5: 'pool-5', 6: 'pool-6'}, inplace=True)
pool_df.drop(columns=[7], inplace=True)
pool_df.set_index('sample', inplace=True)
pool_df.head()

          pool-1  pool-2  pool-3  pool-4  pool-5  pool-6
sample
sample_1       1       9      17      25      33      41
sample_2       2      10      18      26      34      42
sample_3       3      11      19      27      35      43
sample_4       4      12      20      28      36      44
sample_5       5      13      21      29      37      45

## Generate mapping of samples to plates and plate mapsfrom samples in pool format

In [15]:
import importlib
importlib.reload(ezutils)
plate_dict = {}
sample_df = pd.DataFrame(columns=['Plate', 'Row', 'Column'])

# write plate maps to excel sheet:
plate_writer = pd.ExcelWriter(path=os.path.join(SAVE_PATH, 'sample_plate_maps_384_format.xlsx'))

for plate_ind, sample_inds in zip([1, 2, 3, 4], 
                                  (np.arange(0, 96), np.arange(96, 192), np.arange(192, 288), np.arange(288, 384))):
    curr_plate_df, curr_sample_df = ezutils.sample_list_to_plate_map(sample_list=pool_df.index[sample_inds],
                                                                     plate_num=plate_ind, plate_format='96_well')
    curr_plate_df.name = plate_ind

    plate_dict[plate_ind] = curr_plate_df
    curr_plate_df.to_excel(plate_writer, sheet_name='plate ' + str(plate_ind))
    sample_df = sample_df.append(curr_sample_df)
    
plate_writer.close()

display(sample_df.tail())
plate_dict

           Plate Row Column
sample_380     4   H      8
sample_381     4   H      9
sample_382     4   H     10
sample_383     4   H     11
sample_384     4   H     12

{1:           1          2          3          4          5          6   \
 A   sample_1   sample_2   sample_3   sample_4   sample_5   sample_6
 B  sample_13  sample_14  sample_15  sample_16  sample_17  sample_18
 C  sample_25  sample_26  sample_27  sample_28  sample_29  sample_30
 D  sample_37  sample_38  sample_39  sample_40  sample_41  sample_42
 E  sample_49  sample_50  sample_51  sample_52  sample_53  sample_54
 F  sample_61  sample_62  sample_63  sample_64  sample_65  sample_66
 G  sample_73  sample_74  sample_75  sample_76  sample_77  sample_78
 H  sample_85  sample_86  sample_87  sample_88  sample_89  sample_90

           7          8          9          10         11         12
 A   sample_7   sample_8   sample_9  sample_10  sample_11  sample_12
 B  sample_19  sample_20  sample_21  sample_22  sample_23  sample_24
 C  sample_31  sample_32  sample_33  sample_34  sample_35  sample_36
 D  sample_43  sample_44  sample_45  sample_46  sample_47  sample_48
 E  sample_55  sample_56  sample_57  sample_58  sample_59  sample_60
 F  sample_67  sample_68  sample_69  sample_70  sample_71  sample_72
 G  sample_79  sample_80  sample_81  sample_82  sample_83  sample_84
 H  sample_91  sample_92  sample_93  sample_94  sample_95  sample_96  ,
 2:            1           2           3           4           5           6   \
 A   sample_97   sample_98   sample_99  sample_100  sample_101  sample_102
 B  sample_109  sample_110  sample_111  sample_112  sample_113  sample_114
 C  sample_121  sample_122  sample_123  sample_124  sample_125  sample_126
 D  sample_133  sample_134  sample_135  sample_136  sample_137  sample_138
 E  sample_145  sample_146  sample_147  sample_148  sample_149  sample_150
 F  sample_157  sample_158  sample_159  sample_160  sample_161  sample_162
 G  sample_169  sample_170  sample_171  sample_172  sample_173  sample_174
 H  sample_181  sample_182  sample_183  sample_184  sample_185  sample_186

            7           8           9           10          11          12
 A  sample_103  sample_104  sample_105  sample_106  sample_107  sample_108
 B  sample_115  sample_116  sample_117  sample_118  sample_119  sample_120
 C  sample_127  sample_128  sample_129  sample_130  sample_131  sample_132
 D  sample_139  sample_140  sample_141  sample_142  sample_143  sample_144
 E  sample_151  sample_152  sample_153  sample_154  sample_155  sample_156
 F  sample_163  sample_164  sample_165  sample_166  sample_167  sample_168
 G  sample_175  sample_176  sample_177  sample_178  sample_179  sample_180
 H  sample_187  sample_188  sample_189  sample_190  sample_191  sample_192  ,
 3:            1           2           3           4           5           6   \
 A  sample_193  sample_194  sample_195  sample_196  sample_197  sample_198
 B  sample_205  sample_206  sample_207  sample_208  sample_209  sample_210
 C  sample_217  sample_218  sample_219  sample_220  sample_221  sample_222
 D  sample_229  sample_230  sample_231  sample_232  sample_233  sample_234
 E  sample_241  sample_242  sample_243  sample_244  sample_245  sample_246
 F  sample_253  sample_254  sample_255  sample_256  sample_257  sample_258
 G  sample_265  sample_266  sample_267  sample_268  sample_269  sample_270
 H  sample_277  sample_278  sample_279  sample_280  sample_281  sample_282

            7           8           9           10          11          12
 A  sample_199  sample_200  sample_201  sample_202  sample_203  sample_204
 B  sample_211  sample_212  sample_213  sample_214  sample_215  sample_216
 C  sample_223  sample_224  sample_225  sample_226  sample_227  sample_228
 D  sample_235  sample_236  sample_237  sample_238  sample_239  sample_240
 E  sample_247  sample_248  sample_249  sample_250  sample_251  sample_252
 F  sample_259  sample_260  sample_261  sample_262  sample_263  sample_264
 G  sample_271  sample_272  sample_273  sample_274  sample_275  sample_276
 H  sample_283  sample_284  sample_285  sample_286  sample_287  sample_288  ,
 4:            1           2           3           4           5           6   \
 A  sample_289  sample_290  sample_291  sample_292  sample_293  sample_294
 B  sample_301  sample_302  sample_303  sample_304  sample_305  sample_306
 C  sample_313  sample_314  sample_315  sample_316  sample_317  sample_318
 D  sample_325  sample_326  sample_327  sample_328  sample_329  sample_330
 E  sample_337  sample_338  sample_339  sample_340  sample_341  sample_342
 F  sample_349  sample_350  sample_351  sample_352  sample_353  sample_354
 G  sample_361  sample_362  sample_363  sample_364  sample_365  sample_366
 H  sample_373  sample_374  sample_375  sample_376  sample_377  sample_378

            7           8           9           10          11          12
 A  sample_295  sample_296  sample_297  sample_298  sample_299  sample_300
 B  sample_307  sample_308  sample_309  sample_310  sample_311  sample_312
 C  sample_319  sample_320  sample_321  sample_322  sample_323  sample_324
 D  sample_331  sample_332  sample_333  sample_334  sample_335  sample_336
 E  sample_343  sample_344  sample_345  sample_346  sample_347  sample_348
 F  sample_355  sample_356  sample_357  sample_358  sample_359  sample_360
 G  sample_367  sample_368  sample_369  sample_370  sample_371  sample_372
 H  sample_379  sample_380  sample_381  sample_382  sample_383  sample_384  }

## Merge the location of each sample into pool_df

In [16]:
sample_master_df = pool_df.join(sample_df)
sample_master_df.rename(columns={'Row': 'Sample_plate_Row', 'Column': 'Sample_plate_Column', 'Plate': 'Sample_Plate'}, inplace=True)
sample_master_df.head()

,pool-1,pool-2,pool-3,pool-4,pool-5,pool-6,Sample_Plate,Sample_plate_Row,Sample_plate_Column
sample,,,,,,,,,
sample_1,1,9,17,25,33,41,1,A,1
sample_2,2,10,18,26,34,42,1,A,2
sample_3,3,11,19,27,35,43,1,A,3
sample_4,4,12,20,28,36,44,1,A,4
sample_5,5,13,21,29,37,45,1,A,5

## Generate pool map from pool names:

In [17]:
# generate 48 pools:
pool_names  = pd.Index(['pool_' + str(i) for i in range(1,49)])

In [18]:
pool_plate_df, pool_location_df = ezutils.sample_list_to_plate_map(sample_list=pool_names, plate_num=1, plate_format='48_well')

writer = pd.ExcelWriter(path=os.path.join(SAVE_PATH, 'pool_locations.xlsx'))
pool_plate_df.to_excel(writer, sheet_name='pool_plate_map')
pool_location_df.to_excel(writer, sheet_name='pool_locations')
writer.close()
display(pool_plate_df)
display(pool_location_df.head())

         1        2        3        4        5        6        7        8
A   pool_1   pool_2   pool_3   pool_4   pool_5   pool_6   pool_7   pool_8
B   pool_9  pool_10  pool_11  pool_12  pool_13  pool_14  pool_15  pool_16
C  pool_17  pool_18  pool_19  pool_20  pool_21  pool_22  pool_23  pool_24
D  pool_25  pool_26  pool_27  pool_28  pool_29  pool_30  pool_31  pool_32
E  pool_33  pool_34  pool_35  pool_36  pool_37  pool_38  pool_39  pool_40
F  pool_41  pool_42  pool_43  pool_44  pool_45  pool_46  pool_47  pool_48

       Plate Row Column
pool_1     1   A      1
pool_2     1   A      2
pool_3     1   A      3
pool_4     1   A      4
pool_5     1   A      5

In [19]:
def pool_num_to_pool_plate_location(pool_num, pool_location_df):
    p, r, c = pool_location_df.loc['pool_' + str(pool_num)]
    #return 'plate ' + str(p) + ': ' + r + '-' + str(c)
    return r + '-' + str(c)
pool_num_to_pool_plate_location(2, pool_location_df)

'A-2'

In [20]:
for p in ['pool-1', 'pool-2', 'pool-3', 'pool-4', 'pool-5', 'pool-6']:
    sample_master_df.loc[:, p + '_location'] = sample_master_df[p].apply(pool_num_to_pool_plate_location, args=(pool_location_df,))

In [21]:
sample_master_df

,pool-1,pool-2,pool-3,pool-4,pool-5,pool-6,Sample_Plate,Sample_plate_Row,Sample_plate_Column,pool-1_location,pool-2_location,pool-3_location,pool-4_location,pool-5_location,pool-6_location
sample,,,,,,,,,,,,,,,
sample_1,1,9,17,25,33,41,1,A,1,A-1,B-1,C-1,D-1,E-1,F-1
sample_2,2,10,18,26,34,42,1,A,2,A-2,B-2,C-2,D-2,E-2,F-2
sample_3,3,11,19,27,35,43,1,A,3,A-3,B-3,C-3,D-3,E-3,F-3
sample_4,4,12,20,28,36,44,1,A,4,A-4,B-4,C-4,D-4,E-4,F-4
sample_5,5,13,21,29,37,45,1,A,5,A-5,B-5,C-5,D-5,E-5,F-5
sample_6,6,14,22,30,38,46,1,A,6,A-6,B-6,C-6,D-6,E-6,F-6
sample_7,7,15,23,31,39,47,1,A,7,A-7,B-7,C-7,D-7,E-7,F-7
sample_8,8,16,24,32,40,48,1,A,8,A-8,B-8,C-8,D-8,E-8,F-8
sample_9,1,10,19,28,37,46,1,A,9,A-1,B-2,C-3,D-4,E-5,F-6
sample_10,2,9,20,27,38,45,1,A,10,A-2,B-1,C-4,D-3,E-6,F-5
sample_11,3,12,17,26,39,48,1,A,11,A-3,B-4,C-1,D-2,E-7,F-8
sample_12,4,11,18,25,40,47,1,A,12,A-4,B-3,C-2,D-1,E-8,F-7
sample_13,5,14,23,32,33,42,1,B,1,A-5,B-6,C-7,D-8,E-1,F-2
sample_14,6,13,24,31,34,41,1,B,2,A-6,B-5,C-8,D-7,E-2,F-1
sample_15,7,16,21,30,35,44,1,B,3,A-7,B-8,C-5,D-6,E-3,F-4
sample_16,8,15,22,29,36,43,1,B,4,A-8,B-7,C-6,D-5,E-4,F-3
sample_17,1,11,21,31,36,42,1,B,5,A-1,B-3,C-5,D-7,E-4,F-2
sample_18,2,12,22,32,35,41,1,B,6,A-2,B-4,C-6,D-8,E-3,F-1
sample_19,3,9,23,29,34,44,1,B,7,A-3,B-1,C-7,D-5,E-2,F-4
sample_20,4,10,24,30,33,43,1,B,8,A-4,B-2,C-8,D-6,E-1,F-3
sample_21,5,15,17,27,40,46,1,B,9,A-5,B-7,C-1,D-3,E-8,F-6
sample_22,6,16,18,28,39,45,1,B,10,A-6,B-8,C-2,D-4,E-7,F-5
sample_23,7,13,19,25,38,48,1,B,11,A-7,B-5,C-3,D-1,E-6,F-8
sample_24,8,14,20,26,37,47,1,B,12,A-8,B-6,C-4,D-2,E-5,F-7
sample_25,1,12,23,30,40,45,1,C,1,A-1,B-4,C-7,D-6,E-8,F-5
sample_26,2,11,24,29,39,46,1,C,2,A-2,B-3,C-8,D-5,E-7,F-6
sample_27,3,10,21,32,38,47,1,C,3,A-3,B-2,C-5,D-8,E-6,F-7
sample_28,4,9,22,31,37,48,1,C,4,A-4,B-1,C-6,D-7,E-5,F-8
sample_29,5,16,19,26,36,41,1,C,5,A-5,B-8,C-3,D-2,E-4,F-1
sample_30,6,15,20,25,35,42,1,C,6,A-6,B-7,C-4,D-1,E-3,F-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
sample_355,3,12,20,27,40,47,4,F,7,A-3,B-4,C-4,D-3,E-8,F-7
sample_356,4,11,19,28,39,48,4,F,8,A-4,B-3,C-3,D-4,E-7,F-8
sample_357,5,14,22,29,34,41,4,F,9,A-5,B-6,C-6,D-5,E-2,F-1
sample_358,6,13,21,30,33,42,4,F,10,A-6,B-5,C-5,D-6,E-1,F-2
sample_359,7,16,24,31,36,43,4,F,11,A-7,B-8,C-8,D-7,E-4,F-3
sample_360,8,15,23,32,35,44,4,F,12,A-8,B-7,C-7,D-8,E-3,F-4
sample_361,1,9,20,28,34,42,4,G,1,A-1,B-1,C-4,D-4,E-2,F-2
sample_362,2,10,19,27,33,41,4,G,2,A-2,B-2,C-3,D-3,E-1,F-1
sample_363,3,11,18,26,36,44,4,G,3,A-3,B-3,C-2,D-2,E-4,F-4
sample_364,4,12,17,25,35,43,4,G,4,A-4,B-4,C-1,D-1,E-3,F-3
sample_365,5,13,24,32,38,46,4,G,5,A-5,B-5,C-8,D-8,E-6,F-6
sample_366,6,14,23,31,37,45,4,G,6,A-6,B-6,C-7,D-7,E-5,F-5
sample_367,7,15,22,30,40,48,4,G,7,A-7,B-7,C-6,D-6,E-8,F-8
sample_368,8,16,21,29,39,47,4,G,8,A-8,B-8,C-5,D-5,E-7,F-7
sample_369,1,12,22,31,39,46,4,G,9,A-1,B-4,C-6,D-7,E-7,F-6
sample_370,2,11,21,32,40,45,4,G,10,A-2,B-3,C-5,D-8,E-8,F-5
sample_371,3,10,24,29,37,48,4,G,11,A-3,B-2,C-8,D-5,E-5,F-8
sample_372,4,9,23,30,38,47,4,G,12,A-4,B-1,C-7,D-6,E-6,F-7
sample_373,5,16,18,27,35,42,4,H,1,A-5,B-8,C-2,D-3,E-3,F-2
sample_374,6,15,17,28,36,41,4,H,2,A-6,B-7,C-1,D-4,E-4,F-1
sample_375,7,14,20,25,33,44,4,H,3,A-7,B-6,C-4,D-1,E-1,F-4
sample_376,8,13,19,26,34,43,4,H,4,A-8,B-5,C-3,D-2,E-2,F-3
sample_377,1,11,24,30,35,41,4,H,5,A-1,B-3,C-8,D-6,E-3,F-1
sample_378,2,12,23,29,36,42,4,H,6,A-2,B-4,C-7,D-5,E-4,F-2
sample_379,3,9,22,32,33,43,4,H,7,A-3,B-1,C-6,D-8,E-1,F-3
sample_380,4,10,21,31,34,44,4,H,8,A-4,B-2,C-5,D-7,E-2,F-4
sample_381,5,15,20,26,39,45,4,H,9,A-5,B-7,C-4,D-2,E-7,F-5
sample_382,6,16,19,25,40,46,4,H,10,A-6,B-8,C-3,D-1,E-8,F-6
sample_383,7,13,18,28,37,47,4,H,11,A-7,B-5,C-2,D-4,E-5,F-7
sample_384,8,14,17,27,38,48,4,H,12,A-8,B-6,C-1,D-3,E-6,F-8

## Write sample_to_pool_and_plate to excel sheet:

In [22]:
# write sample_to_pool file to excel sheet:
writer = pd.ExcelWriter(path=os.path.join(SAVE_PATH, 'sample_to_pools_and_plates_384_to48_format.xlsx'))
sample_master_df.to_excel(writer)
writer.close()

## Generate EZMate commands from sample_master_df

In [23]:
def sample_ind_to_ezmate_plate(sample_ind, plate_format='96_well'):
    """
    assumes that robot uses two source plates for pooling - A and B and needs to figure out which to use for each sample.
    if sample in first 96 A, if second C. works on 384 well format for now.
    """
    if plate_format == '96_well':

        if sample_ind <= 96:
            return 'A'
        if (sample_ind > 96) and  (sample_ind <=192):
            return 'C'
        if (sample_ind > 192) and (sample_ind <= 288):
            return 'A'
        if sample_ind > 288:
            return 'C'
    else:
        error('no such plate')

In [24]:
sample_master_df.head()

,pool-1,pool-2,pool-3,pool-4,pool-5,pool-6,Sample_Plate,Sample_plate_Row,Sample_plate_Column,pool-1_location,pool-2_location,pool-3_location,pool-4_location,pool-5_location,pool-6_location
sample,,,,,,,,,,,,,,,
sample_1,1,9,17,25,33,41,1,A,1,A-1,B-1,C-1,D-1,E-1,F-1
sample_2,2,10,18,26,34,42,1,A,2,A-2,B-2,C-2,D-2,E-2,F-2
sample_3,3,11,19,27,35,43,1,A,3,A-3,B-3,C-3,D-3,E-3,F-3
sample_4,4,12,20,28,36,44,1,A,4,A-4,B-4,C-4,D-4,E-4,F-4
sample_5,5,13,21,29,37,45,1,A,5,A-5,B-5,C-5,D-5,E-5,F-5

'/Users/thertz/Dropbox/HertzLab/Code/Python/COVID-19'

In [26]:
os.path.join(SAVE_PATH, 'EZMate_384_to_48_pools_MD_commands.csv')

'/home/tomer/Dropbox/HertzLab/Code/Python/COVID-19/EZMate_384_to_48_pools_MD_commands.csv'

### Run script for first 192 samples only - plates 1 AND 2

In [120]:
# generate sample MD file:
md_cmds = 'APM, 1\n'
for s in sample_master_df[0:192].index:
    
    sample_ind = int(s.split('_')[-1])
    source_plate = sample_ind_to_ezmate_plate(sample_ind)
    
    source_well = (sample_master_df.loc[s]['Sample_plate_Row'], sample_master_df.loc[s]['Sample_plate_Column'])
    
    # due to AIRGAP and for more consistent pippeting, first dispense back into original pool
    destination_wells = [source_well]
    for d in range(1,7):
        curr_col = 'pool-' + str(d) + '_location'
        destination_wells.append((sample_master_df.loc[s][curr_col].split('-')[0], sample_master_df.loc[s][curr_col].split('-')[1]) )
    
    destination_plates = [source_plate] + ['C']*6
    
    md_cmds += ezutils.generate_MD_command(source_plate=source_plate, destination_plates=destination_plates, source_well=source_well, 
                            destination_wells= destination_wells, source_volume=100, transfer_volume=11, 
                            aspirate_speed=(2, 5), dispense_speed=(3, 5), air_gap=5, tip=(1, 1, 0), mix=(2, 3, 70, 4),
                            reverse=5)
fd = open(os.path.join(SAVE_PATH, 'EZMate_384_to_48_pools_MD_commands_plates_1_2.csv'), 'w')
fd.write(md_cmds)
fd.close()

### Run script for second 192 samples only - plates 3 AND 4

In [121]:
# generate sample MD file:
md_cmds = 'APM, 1\n'
for s in sample_master_df[192:].index:
    
    sample_ind = int(s.split('_')[-1])
    source_plate = sample_ind_to_ezmate_plate(sample_ind)
    
    source_well = (sample_master_df.loc[s]['Sample_plate_Row'], sample_master_df.loc[s]['Sample_plate_Column'])
    
    # due to AIRGAP and for more consistent pippeting, first dispense back into original pool
    destination_wells = [source_well]
    for d in range(1,7):
        curr_col = 'pool-' + str(d) + '_location'
        destination_wells.append((sample_master_df.loc[s][curr_col].split('-')[0], sample_master_df.loc[s][curr_col].split('-')[1]) )
    
    destination_plates = [source_plate] + ['C']*6
    
    md_cmds += ezutils.generate_MD_command(source_plate=source_plate, destination_plates=destination_plates, source_well=source_well, 
                            destination_wells= destination_wells, source_volume=100, transfer_volume=11, 
                            aspirate_speed=(2, 5), dispense_speed=(3, 5), air_gap=5, tip=(1, 1, 0), mix=(2, 3, 70, 4),
                            reverse=5)
fd = open(os.path.join(SAVE_PATH, 'EZMate_384_to_48_pools_MD_commands_plates_3_4.csv'), 'w')
fd.write(md_cmds)
fd.close()

### Code for making two pools sets simultaneously

In [122]:
# generate sample MD file:
md_cmds = 'APM, 1\n'
for s in sample_master_df[0:192].index:
    
    sample_ind = int(s.split('_')[-1])
    source_plate = sample_ind_to_ezmate_plate(sample_ind)
    
    source_well = (sample_master_df.loc[s]['Sample_plate_Row'], sample_master_df.loc[s]['Sample_plate_Column'])
    
    # due to AIRGAP and for more consistent pippeting, first dispense back into original pool
    destination_wells = [source_well]
    for d in range(1,7):
        curr_col = 'pool-' + str(d) + '_location'
        destination_wells.append((sample_master_df.loc[s][curr_col].split('-')[0], sample_master_df.loc[s][curr_col].split('-')[1]) )
    
    destination_wells = destination_wells + destination_wells[1:]
    destination_plates = [source_plate] + ['C']*6 + ['D']*6
    
    md_cmds += ezutils.generate_MD_command(source_plate=source_plate, destination_plates=destination_plates, source_well=source_well, 
                            destination_wells= destination_wells, source_volume=100, transfer_volume=11, 
                            aspirate_speed=(2, 5), dispense_speed=(3, 5), air_gap=5, tip=(1, 1, 0), mix=(2, 3, 70, 4),
                            reverse=5)
fd = open(os.path.join(SAVE_PATH, 'EZMate_384_to_48_pools_MD_commands_plates_1_2_duplicate_pools.csv'), 'w')
fd.write(md_cmds)
fd.close()

### Run script for second 192 samples only - plates 3 AND 4

In [123]:
# generate sample MD file:
md_cmds = 'APM, 1\n'
for s in sample_master_df[192:].index:
    
    sample_ind = int(s.split('_')[-1])
    source_plate = sample_ind_to_ezmate_plate(sample_ind)
    
    source_well = (sample_master_df.loc[s]['Sample_plate_Row'], sample_master_df.loc[s]['Sample_plate_Column'])
    
    # due to AIRGAP and for more consistent pippeting, first dispense back into original pool
    destination_wells = [source_well]
    for d in range(1,7):
        curr_col = 'pool-' + str(d) + '_location'
        destination_wells.append((sample_master_df.loc[s][curr_col].split('-')[0], sample_master_df.loc[s][curr_col].split('-')[1]) )
    
    
    destination_wells = destination_wells + destination_wells[1:]
    destination_plates = [source_plate] + ['C']*6 + ['D']*6
    
    md_cmds += ezutils.generate_MD_command(source_plate=source_plate, destination_plates=destination_plates, source_well=source_well, 
                            destination_wells= destination_wells, source_volume=100, transfer_volume=11, 
                            aspirate_speed=(2, 5), dispense_speed=(3, 5), air_gap=5, tip=(1, 1, 0), mix=(2, 3, 70, 4),
                            reverse=5)
fd = open(os.path.join(SAVE_PATH, 'EZMate_384_to_48_pools_MD_commands_plates_3_4_duplicate_pools.csv'), 'w')
fd.write(md_cmds)
fd.close()

In [126]:
filename = '/Users/thertz/Downloads/48_pools_with_384_samples.xlsx'
df = pd.read_excel(filename, sheet_name='Sheet2')
df.head()

,pool 4,pool 7,pool 9,pool 13,pool 19,pool 22,pool 26,pool 32,pool 33,pool 44
0,4,7,1,5,3,6,2,8,1,4
1,12,15,10,14,9,16,11,13,13,15
2,20,23,19,23,23,18,24,18,20,19
3,28,31,28,32,29,28,29,27,32,32
4,36,39,37,33,34,39,39,33,39,34

In [156]:
curr_inds = pd.unique(df[df.columns].values.ravel('K'))
sample_counts = []
for i in curr_inds:
    sample_counts.append(df[df == i].count().sum())
    
max_ind = np.argmax(sample_counts)
max_sample = curr_inds[max_ind]
print('sample is: {0}, count is: {1}'.format(max_sample, sample_counts[max_ind]))

np.argsort(sample_counts)

print('sample is: {0}, count is: {1}'.format(curr_inds[64], 5))

sample is: 140, count is: 6
sample is: 135, count is: 5

In [132]:
for i in df.values.unique()
df[df == 4.0].count().sum()

2

In [ ]:
# dest plae for pools is 6x8 A-F, 1-8, source plates are 96-well A-H 1-12.
# generate 96 well plate map, generate new pool file in which each sample has a plate/loaction and each pool is a plate/location